.margen {
    max-height: 320px;
    overflow-y: scroll; /* Asegura que haya desplazamiento vertical si el contenido se desborda */
    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}

body{
    background-color: #fafafa;
    font-size: 0.9rem;    
}

/* Estilo adicional para la posición del toast */
#toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
}